<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome to The Burger Joint</title>
</head>
<body>
    <ul>
        {{{body}}}
    </ul>
    <form>
        <input type="text" placeholder="Give me a name atreu!">
        <button class="btn">ADD A BURGER</button>
    </form>
</body>
</html>