/* Styles for burger Joint */

* {
    border-radius: 0 !important;
}

.mssgOutput {
    opacity: 0;
    visibility: hidden;
    transition: opacity 300ms;
    padding: 6px 12px;
    font-size: 12px;
}

.mssgOutput.success {
    background: yellowgreen;
    color: white;
}

.mssgOutput.error {
    background: red;
    color: white;
}

.mssgOutput.active {
    opacity: 1;
    visibility: visible;
}

.jumbotron {
    background-size: cover;
    display: block;
    color: white;
    height: 42vh;
    text-align: center;
}

.jumbotron h1 {
    position: relative;
    top: 66.66%;
    transform: translateY(100%);
}

.devourIt {
    float: right;
}

a .fa {
    font-family: fontawesome;
}